.thumbnail_grid{ display: grid; grid-template-columns: 1fr 1fr 1fr; }
/* grid-template-columns => 1: 1: 1 비율로 하겠다는것  */
.thumbnail{ width: 100%; }

#stat_bar{ display: grid; grid-template-columns: 1fr 1fr 1fr; border-top: 1px solid gray; border-bottom: 1px solid gray; margin-bottom: 5px; margin-top: 5px; }
.stat{ text-align: center; }

.circle_pic{ border: solid white 1px; border-radius: 50%; width: 100%; height: 100%; object-fit: cover; }
/*
   object-fit : fill => 미디어를 부모 요소에 꽉 맞게 채움. 찌그러질수도 있음.
              : contain => 미디어의 비율을 유지한채 부모 요소 밖으로 튀어나지않도록 크기 축소.
              : cover => 미디어의 일부가 부모요소 밖으로 빠져나가도 비율을 유지한채로 부모에 꽉 맞게 채움.
*/

#profile_pic{ width: 50px; height: 50px; }
.highlight_pic{ width: 35px; height: 35px; margin-left: auto; margin-right: auto; }

#highlight_area{ display: grid; grid-template-columns: 45px 45px 1fr; }
.highlight{ text-align: center; }

#profile{ display: grid; grid-template-columns: 1fr 3.5fr; }
#profile_info{ display: grid; grid-template-rows: 1fr 1fr; height: 50px; }